body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

#container {
  max-width: 600px;
  margin: auto;
}

#c {
  width: 100%;
  height: 150px;
}
